services:
    php:
        build:
            context: .
            dockerfile: .dev/php/docker/Dockerfile
        container_name: php
        environment:
            - XDEBUG_MODE=${SAIL_XDEBUG_MODE:-off}
            - XDEBUG_CONFIG=${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}
        ports:
            - 9000:9000
            - 5173:5173
        volumes:
            - .:/var/www/html
            - .dev/php/docker/settings/php.ini:/usr/local/etc/php/php.ini
        networks:
            - application
        depends_on:
            - database

    database:
        image: mysql:8.0
        container_name: database
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_PASSWORD: ${DB_PASSWORD}
        ports:
            - 3306:3306
        volumes:
            - mysql:/var/lib/mysql
            - .dev/mysql/init-database.sql:/docker-entrypoint-initdb.d/init-database.sql
        networks:
            - application
        healthcheck:
            test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
            interval: 30s
            timeout: 10s
            retries: 3

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: phpmyadmin
        environment:
            PMA_HOST: database
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        ports:
            - 8080:80
        networks:
            - application

networks:
    application:


volumes:
    mysql:
